html {
    background: url(../assets/pagemedia/wall.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
body {
    text-align: center;
    color: white;
    text-shadow:
            -1px -1px 0 #000,
            1px -1px 0 #000,
            -1px 1px 0 #000,
            1px 1px 0 #000;
}
button {
    margin-top: 5px;
    margin-bottom: 10px;
}


.normi{
    color: white;
    text-shadow:
            -1px -1px 0 #000,
            1px -1px 0 #000,
            -1px 1px 0 #000,
            1px 1px 0 #000;
}
#delform{
    background: #f10303;
    font-size: 26px;
    margin-left:15em;
    margin-right:15em;
    border: 1px solid black;
    padding-top: 5px;
    padding-left: 2em;
    padding-right: 2em;
    margin-bottom: 1em;
    margin-top: 1em;
}

.valikko ul {
    margin-top: -10px;
    margin-left: -10px;
    margin-right: -8px;
    font-size: 17px;
    list-style-type: none;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    outline: 1px solid black;
}

.valikko .left{
    float: left;
    border-right: 1px solid black;
}
.valikko .dropdown{
    float: right;
    border-left: 1px solid black;
}
.valikko .loginname {

    float: right;
    margin-top: -2px;
    margin-bottom: -50px;
    margin-right: 10px;
}

.valikko li a, .dropbtn {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}




.valikko li a:hover, .dropdown:hover .dropbtn {
    background-color: dimgray;

}

.valikko li.dropdown {
    display: inline-block;
}

.valikko .dropdown-content {
    display: none;
    position: absolute;
    right: 0;
    background-color: #333;
    min-width: 15%;
    outline: 1px solid black;
}

.valikko .dropdown-content a {
    color: white;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: center;
    border-bottom: 1px solid black;
}

.valikko .dropdown-content a:hover {background-color: dimgray;}

.valikko .dropdown:hover .dropdown-content {
    display: block;
}

