
body {
    text-align: center;
}
div {
    text-align: center;
}
table {
    background: darkcyan;
    font-size: 26px;
    margin-left:auto;
    margin-right:auto;
    border: 1px solid black;
    padding-top: 5px;
    padding-left: 2em;
    padding-right: 1em;
    margin-bottom: 1em;
    margin-top: 1em;
    color: black;
    text-shadow:
            -1px -1px 0 #FFF,
            1px -1px 0 #FFF,
            -1px 1px 0 #FFF,
            1px 1px 0 #FFF;
}
td {
    padding-right: 2em;
}
nav {
    position: absolute;
    top: 110px;
    left: 10px;
    width: 50px;
}
nav ul {
    list-style: none;
}

nav ul li {
    float: left;
    text-align: center;
    top: 120px;
    left: 10px;
    width: 100px;
}

nav ul li ul {
    visibility: hidden;
}

nav ul li ul li {
    list-style: square inside;
    float: left;
    margin-left: -15px;
    width: 150px;
    text-align: left;
}

nav ul li:hover > ul {
    visibility:visible;
}