html {
    background: url(../assets/pagemedia/asdw.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

body {
    font-family: Arial, Verdana, sans-serif;
    text-align: center;
}
h1 p {
    padding: 3em;
    margin:  1em;
    margin-bottom: 0em;
}
nav {
    position: absolute;
    top: 110px;
    left: -45px;
    width: 50px;

}
nav ul {
    list-style: none;

}

nav ul li {
    float: left;
    text-align: center;
    top: 120px;
    left: 10px;
    width: 100px;
}

nav ul li ul {
    visibility: hidden;
}

nav ul li ul li {
    list-style: square inside;
    float: left;
    margin-left: -15px;
    width: 150px;
    text-align: left;
}

nav ul li:hover > ul {
    visibility:visible;
}

.peli {
    display: inline-block;
    position: static;
}

.userbar {
    font-family: Impact, Charcoal, sans-serif;
    position: absolute;
    top: 0px;
    right: 0px;
    border-left: 3px #B0C4DE;
    border-bottom: 3px #B0C4DE;
    border-radius: 0px 0px 0px 10px;
    width: 100%;
}
.dropdown {

    margin-right: -90%;
    font-size: 19px;
    padding: -5px;
    margin-top:  -5px;
    margin-bottom: -5px;
    display: inline-block;
}
.dropdown-content {
    display: none;
    position: center;
    background-color: #f9f9f9;
    min-width: 160px;
    padding: 12px 16px;
    right: 0;

}

.dropdown:hover .dropdown-content {
    display: block;
}
.username{
    margin-right: -90%;
    font-size: 45px;
    padding: -5px;
    margin-top:  -5px;
    margin-bottom: -5px;
}
.loggedin {

    font-size: 15px;
    padding: -4px;
    margin-top: 3px;
    margin-bottom: -5px;
    margin-left: 89%;
}
.topimage{
    width: 100%;
    margin-top: 0px;
}


