

body {
    font-family: Arial, Verdana, sans-serif;
    text-align: center;
}
h1 p {
    padding: 3em;
    margin:  1em;
    margin-bottom: 0em;
}
nav {
    position: absolute;
    top: 110px;
    left: -45px;
    width: 50px;

}
nav ul {
    list-style: none;

}

nav ul li {
    float: left;
    text-align: center;
    top: 120px;
    left: 10px;
    width: 100px;
}

nav ul li ul {
    visibility: hidden;
}

nav ul li ul li {
    list-style: square inside;
    float: left;
    margin-left: -15px;
    width: 150px;
    text-align: left;
}

nav ul li:hover > ul {
    visibility:visible;
}

.peli{
    display: inline-block;
    position: static;
    left: 16%;
}
.valikko {

}

.content {
    font-family: Impact, Charcoal, sans-serif;
    position: absolute;
    top: 0px;
    right: 0px;
    border-left: 3px solid black;
    border-bottom: 3px solid black;
    border-radius: 0px 0px 0px 10px;
    text-align: center;
    background: #5F9EA0;
    width: 140px;
}